@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  max-width: 1633px;
  height: 100%;
  background: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #323232;
}

.button {
  display: inline-block;
  height: 58px;
  padding-left: 37px;
  padding-right: 37px;
  border-radius: 29px;
  font-weight: 700;
  line-height: 24px;
  background-color: #f78434;
  color: #fff;
  line-height: 58px;
  -webkit-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.button:hover {
  background-color: #ff6a00;
}

.wrapper {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  width: 100%;
  max-width: 1144px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  min-height: 112px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}

.logo a {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo img {
  padding-right: 10px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav ul li:not(:last-child) {
  padding-right: 20px;
}
.nav a {
  font-size: 16px;
  line-height: 24px;
  color: #323232;
}

.titul {
  margin-top: 114px;
}
.titul__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.titul__text {
  max-width: 470px;
}
.titul__text p {
  line-height: 1.69;
  letter-spacing: 1.15px;
}
.titul__title {
  position: relative;
  z-index: 2;
  margin-right: -160px;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.46;
  letter-spacing: 0.8px;
  padding-bottom: 25px;
}
.titul__image img {
  width: 100%;
  border-radius: 40px 40px 40px 0px;
}

.form {
  margin-top: 42px;
  height: 58px;
  background: #ffffff;
  -webkit-box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
}
.form__label {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 72px;
}
.form__label::before {
  position: absolute;
  top: 20px;
  left: 28px;
  content: "";
  display: block;
  width: 24px;
  height: 19px;
  background-image: url(../img/mail.svg);
  background-size: initial;
}
.form__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 5px;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}
.form__input::-moz-placeholder {
  color: #bbb;
}
.form__input:-ms-input-placeholder {
  color: #bbb;
}
.form__input::-ms-input-placeholder {
  color: #bbb;
}
.form__input::placeholder {
  color: #bbb;
}

.space {
  margin-top: 90px;
  margin-bottom: 150px;
}
.space__row-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  margin-bottom: 90px;
}
.space__row-company img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.space__row-lern {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.space__images {
  position: relative;
  margin-left: -160px;
}
.space__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.space__img img {
  width: 100%;
}
.space__img--bord {
  overflow-x: hidden;
  border-radius: 20px;
}
.space__popup {
  width: 300px;
  height: 141px;
  padding: 32px 29px 32px 29px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 15px;
  bottom: 87px;
  right: -47px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 5;
}
.space__icon {
  position: relative;
  width: 45px;
  height: 45px;
  background: rgba(88, 190, 191, 0.2);
  border-radius: 50%;
}
.space__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.space__txt {
  width: 177px;
}
.space__subdesc {
  line-height: 27px;
  letter-spacing: 1.15px;
}
.space__text {
  padding: 0 15px;
  max-width: 404px;
}
.space__text p {
  padding-top: 20px;
}
.space__button {
  margin-top: 40px;
}
.space__button a {
  color: #fff;
}
.space__desc {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.8px;
}
.space__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
}

.start {
  margin-bottom: 100px;
}
.start__row {
  height: 464px;
  background: #58bebf;
  border-radius: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.start__img {
  margin: 10vw 2vw 0 -15vw;
  border: 25px #fff solid;
  border-radius: 21px;
  -webkit-box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 4px 20px 42px -2px rgba(0, 0, 0, 0.12);
}
.start__img img {
  width: 100%;
}
.start__text {
  max-width: 364px;
  margin-right: 8vw;
}
.start__text p {
  padding-bottom: 30px;
  letter-spacing: 1.15px;
  color: #fff;
}
.start__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.48;
  letter-spacing: 0.8px;
  padding-bottom: 15px;
  color: #fff;
}
.start__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.start__btn1 {
  min-width: 172px;
  margin-right: 20px;
}
.start__btn2 {
  background-color: #fff;
  min-width: 172px;
  padding-left: 17px;
  padding-right: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #323232;
}
.start__btn2 img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 18px;
  height: 18px;
}

.serve {
  text-align: center;
  position: relative;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 39px;
}
.serve::before {
  content: "";
  width: 100%;
  height: 704px;
  position: absolute;
  top: -350px;
  left: 0;
  z-index: -1;
  background: #f5f6fa;
}
.serve__row-title {
  padding-bottom: 45px;
}
.serve__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.48;
  letter-spacing: 0.8px;
}
.serve__cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-serve__card {
  background: #fff;
  max-width: 540px;
  -webkit-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
}
.cards-serve__card:hover {
  background: #f78434;
  cursor: pointer;
}
.cards-serve__card:hover .cards-serve__ico {
  fill: #fff;
}
.cards-serve__card:hover .cards-serve__title {
  color: #fff;
}
.cards-serve__card:hover .cards-serve__btn {
  background: #fff;
  color: #f78434;
}
.cards-serve__card:hover p {
  color: #fff;
}
.cards-serve__image {
  padding-top: 40px;
}
.cards-serve__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 63px;
  letter-spacing: 0.8px;
  padding-top: 15px;
}
.cards-serve p {
  padding: 1px 88px 25px 88px;
}
.cards-serve__ico {
  fill: #f78434;
}
.cards-serve__btn {
  margin-bottom: 30px;
}

.why {
  margin-bottom: 100px;
}
.why h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.8px;
  padding-bottom: 58px;
}
.why__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.why__card {
  max-width: 249px;
  text-align: center;
}
.why__card a {
  display: inline-block;
  border-radius: 50%;
}
.why__card a:hover {
  background: #f78434;
}
.why__card a:hover .why__ico {
  fill: #fff;
}
.why__image {
  position: relative;
  width: 70px;
  height: 70px;
  background: rgba(88, 190, 191, 0.2);
  border-radius: 50%;
}
.why__ico {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #58bebf;
}
.why__title {
  padding: 15px 0 2px 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.5px;
}

.thanks {
  margin-bottom: 100px;
}
.thanks__row-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.thanks__row-title p {
  display: inline-block;
  max-width: 380px;
}
.thanks__title {
  max-width: 452px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.48;
  letter-spacing: 0.8px;
  padding-bottom: 58px;
}
.thanks__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.thanks__cards p {
  padding: 31px 29px 23px 29px;
}
.thanks__card {
  max-width: 350px;
}
.thanks__card:last-child {
  position: relative;
}
.thanks__card:last-child::after {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  background: url(../img/sh3-4.svg) no-repeat;
  top: -40px;
  right: -40px;
  z-index: 10;
}
.thanks__image img {
  width: 100%;
}
.thanks__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.6px;
  padding: 0 29px;
}
.thanks__city {
  padding: 0 29px;
}

.contact {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  background: url(../img/Mask.svg) no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}
.contact::after {
  content: "";
}
.contact__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__block::after {
  content: "";
  position: absolute;
  width: 743px;
  height: 743px;
  border-radius: 50%;
  background: -o-linear-gradient(226.32deg, rgba(255, 255, 255, 0.0001) 29.68%, rgba(255, 255, 255, 0.502759) 99.43%);
  background: linear-gradient(223.68deg, rgba(255, 255, 255, 0.0001) 29.68%, rgba(255, 255, 255, 0.502759) 99.43%);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 176px;
  right: -48px;
  z-index: 0;
}
.contact__iext {
  padding-top: 156px;
  max-width: 359px;
}
.contact__iext p {
  padding: 15px 40px 30px 0;
  color: #fff;
}
.contact__titul {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  color: #fff;
}
.contact__btn {
  background-color: #fff;
  color: #323232;
}
.contact__image {
  position: relative;
  width: 100%;
  right: 0;
  z-index: 5;
}
.contact__image img {
  width: 100%;
  max-width: 478px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}
.footer__about {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  max-width: 320px;
  padding-right: 20px;
}
.footer__about p {
  padding-top: 15px;
  padding-bottom: 25px;
  letter-spacing: 1.15px;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  gap: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__column {
  max-width: 148px;
}
.footer__column h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.5px;
}
.footer__column a {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.5px;
  color: #323232;
}

@media (max-width: 800px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  .titul {
    margin-top: 30px;
  }
  .titul__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .titul__title {
    position: unset;
    margin-right: unset;
    font-size: 36px;
  }
  .titul__image {
    padding-top: 30px;
  }
  .space__row-lern {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    padding-right: 40px;
  }
}
@media (max-width: 560px) {
  .nav {
    padding-top: 40px;
  }
  .nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .nav ul::before {
    content: "menu";
    text-transform: uppercase;
    padding-bottom: 30px;
  }
  .nav ul::before li:not(:last-child) {
    padding: 0 0 20px 0;
  }
  .space__images {
    margin-left: unset;
  }
  .space__img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}